:root {
  --Background: #2e2e2e;
  --Primary: #8180ff;
  --White: #ffffff;
  --Black: #000000;
}
p {
  color: var(--White);
}
body {
  background-color: var(--Background);
  margin: 0;
  padding: 0;
}

main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

#keyboard {
  width: 95%;
}

.white-key,
.black-key {
  cursor: pointer;
  transition: 300ms;
}

.white-key {
  fill: var(--White);
}

.black-key {
  fill: var(--Black);
}

.white-key:active,
.black-key:active {
  fill: var(--Primary);
}
ul.nav.nav-tabs {
  margin-top: 5rem;
}

@media screen and (orientation: landscape) {
  #keyboard {
    height: 75%;
  }
}

.drum-pad {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.drum-pad.active {
  background-color: yellow;
}

#drums {
  display: flex;
  flex-wrap: wrap;
}

.drum {
  flex: 1 0 20%;
}
