:root {
  --Background: #2e2e2e;
  --Primary: #8180ff;
  --White: #ffffff;
  --Black: #000000;
  --button: #32325e;
}
p {
  color: var(--White);
}
body {
  background-color: var(--Background);
  margin: 0;
  padding: 0;
}

main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

#keyboard {
  width: 95%;
}

.white-key,
.black-key {
  cursor: pointer;
  transition: 300ms;
}

.white-key {
  fill: var(--White);
}

.black-key {
  fill: var(--Black);
}

.white-key:active,
.black-key:active {
  fill: var(--Primary);
}
/* .row {
  margin-top: 5rem;
} */
#rec-btn {
  scale: 75%;
  cursor: pointer;
}
#rec-btn:hover #rec-box {
  stroke: #e5e5ff;
}

#rec-btn:hover #rec-text {
  fill: #e5e5ff;
}

@keyframes glowing {
  0% {
    stroke: rgba(255, 0, 0, 0.25);
    color: rgba(255, 0, 0, 0.25);
    /* filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7)); */
  }
  25% {
    stroke: rgba(255, 0, 0, 0.5);
    color: rgba(255, 0, 0, 0.5)
  }
  50% {
    stroke: rgba(255, 0, 0, 0.9);
    color: rgba(255, 0, 0, 0.9);
    /* filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.9)); */
  }
  75% {
    stroke: rgba(255, 0, 0, 0.5);
    color: rgba(255, 0, 0, 0.5);
    /* filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7)); */
  }
  100% {
    stroke: rgba(255, 0, 0, 0.25);
    color: rgba(255, 0, 0, 0.25);
    /* filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7)); */
  }
}

#rec-cir.rec-active {
  animation: glowing 2s infinite; /* Adjust the duration as needed */
  transition: 1;
}

@media screen and (orientation: landscape) {
  #keyboard {
    height: 75%;
  }
}

.drum-pad {
  /* border: 2px solid black; */
  background-color: black;
  color: black;
  border-radius: 10%;
  /* width: 100px; */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  /* transition: background-color 0.3s; */
}

.drum-pad.active {
  background-color: var(--Primary);
}

.voice-container {
  margin-right: -5%;
}

.voice-button {
  border: 2px solid white;
  color: white;
  border-radius: 10%;
  background-color: transparent;
  margin: 2px;
  box-shadow: #8180ff 0px 0px 5px;
  min-width: 100px;
}

.voice-button:hover {
  border: 2px solid var(--Primary);
  color: var(--Primary);
  cursor: pointer;
}

#microphone.rec-voice-active {
  animation: glowing 2s infinite; /* Adjust the duration as needed */
  transition: 1;
}

#play.play-active {
  animation: glowing 2s infinite; /* Adjust the duration as needed */
  transition: 1;
}

.fas {
  color: var(--White);
  margin-right: 12px;
}

#download-link {
  display: none;
}

#download-link i {
  font-size: 28px; /* You can adjust the size as needed */
  cursor: pointer;
  margin-top: 15px;
}

.fa-download {
  color: var(--White);
  margin-right: 12px;
}